.bd-navbar {
    background-color: #cfd2d6;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0.5rem 1rem, rgba(0, 0, 0, 0.1) 0 -1px 0.2rem inset;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    padding: 0.5rem 1rem;
    top: 0;
    z-index: 1071;
}

.brand {
    font-family: 'Pacifico', cursive;
    color: #1e7e34;
    text-decoration: none;
    font-size: 2em;
    float: left;
    margin-left: 1rem;
}

.menu {
    text-decoration: none;
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none initial initial;
    box-sizing: inherit;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

.logo {
    width: 4rem;
    float: left;
}

img {
    height: 4rem;
    width: 4rem;
}