html, body {
    height: 100%;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.content {
    display: table-row;
    height: 100%;
}

.footer {
    height: 4rem;
}

h1 {
    font-size: 4.5rem;
    font-weight: 100;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #888;
    font-weight: 300;
}

a, button {
    cursor: pointer
}

.material-icons.f18 { font-size: 1.8rem; }
.material-icons.f24 { font-size: 2.4rem; }

.text-success50 { color: rgba(40, 167, 69, 0.3)}
.text-primary50 { color: rgba(0, 123, 255, 0.3)}

span i {
    vertical-align: middle;
}

.bd-navbar {
    background-color: #cfd2d6;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0.5rem 1rem, rgba(0, 0, 0, 0.1) 0 -1px 0.5rem inset;
    position: sticky;
    padding: 0.6rem 1rem;
    top: 0;
    z-index: 1040;
}

.border-gr {
    border-color: #cfd2d6;
}

.text-gr {
    color: #cfd2d6;
}

.bg-bar {
    background-color: #cfd2d6;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.4rem inset;
}

.btn-with-icon div {
    padding-top: 0.1rem;
    margin-top: 0.15rem;
    float: left;
}

.btn-with-icon span {
    margin-left: 0.5rem;
    /*margin-top: 0.15rem;*/
    /*margin-bottom: 0.15rem;*/
}

.btn-w-1 {
    min-width: 3.5rem;
}

.btn-h-1 {
    padding-top: 0.75rem;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.description-height {
    min-height: 6.2rem;
}

.description {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4rem;
}

.hight-desc {
}

.item-hight {
    min-height: 12.6rem;
}

.brand {
    font-family: 'Pacifico', cursive;
    color: #1e7e34;
    text-decoration: none;
    font-size: 2em;
    float: left;
    margin-left: 1rem;
}

.logo {
    width: 4rem;
    float: left;
}

img.logo {
    height: 4rem;
    width: 4rem;
}